@import 'reset';
@import 'variables';

h1,h2,h3,div,p,button,span,a,li{
	font-family: $font;	
}

body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1{
		font-size: 2em;
		font-weight: 700;
		margin-bottom: 30px;	
	}
	button{
		margin-bottom: 15px;
		font-size: 1.3em;
		padding: 20px 30px;
	}
	.bonus{
		button{
			margin-bottom: 30px;
			font-size: 0.8em;
			padding: 10px 15px;
		}
		button:nth-child(2){
			display: none;
		}
		button:nth-child(2).visible{
			display: inline-block;
		}
	}
}